.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 100px;
  height: 30px;
}
.colorpicker{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  padding: 10px;
  border-radius: 20px;
}

